* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 3px;
}


.login {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.login label {
    display: grid;
    grid-template-columns: 30% 1fr;
}

.game ul {
    list-style: none;
}

.game label {
    background-color: aquamarine;
    margin: 15px;
    border: 1px solid black;
    padding: 10px;
    font-size: 18px;
}

.game {
    display: grid;
    max-width: 750px;
    margin: auto;
    height: 90vh;
    grid-template-rows: auto auto 1fr auto;
}

.answerContainer {
    overflow: auto;
    display: grid;
}

@media screen and (max-width: 550px) {
    .login {
        width: 90%;
    }
}

.answer{
    display: grid;
}